<div class="container">
  <div class="row">
    <div class="col-md-8">
    <h1>Add A Story</h1>
    <form method="post" action="/addstory">
      <label>
        Title:
        <input class="input-group" type="text" name="title" ng-model="story.title" required>
      </label>
      <br>
      <label>
        Link:
        <input class="input-group" type="url" name="link" ng-model="story.link" required>
      </label>
      <br>
      <label>
        Image:
        <input class="input-group" type="url" name="image" ng-model="story.image" required>
      </label>
      <br>
      <label>
        Summary:
        <textarea class="input-group" name="summary" cols="30" rows="10"></textarea>
      </label>
     </form> 
    </div>
    <div class="col-md-4">
      
    </div>
  </div>
</div>

<div ng-repeat="guitar in guitars track by $index">
  <h3>{{stories}}</h3>
</div>